{% extends extend %}

{% block form %}
    <h2>2 Factor Autentication</h2>
    <form  hx-post="{% url '2fa' %}" hx-target="#simpleForm" hx-history="false">
        {% if form.non_field_errors %}
        <div class="alert alert-danger mt-4" style="marker: none;" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}<br>
            {% endfor %}</div>
        </div>
    {% endif %}
    {% for field in form %}
        <div class="mb-3">
            <label class="form-label">{{ field.label}}</label><br>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger" style="marker: none;">
                {% for error in field.errors %}
                    {{ error }}<br>
                {% endfor %}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Log In</button>
    </form>
{% endblock %}